<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataHandler interface</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body onload="pageLoad()">
    <div class="container">
        <h1>Fact Table Data Handler</h1>
        <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="sel1">Select template:</label>
                <select class="form-control" id="template">
                    <%for(var i = 0; i < templates.length; i++){%>
                    <option><%=templates[i]%></option>
                    <%}%>
                </select>
            </div>
        </div>
            <div class="col-3">
            <button type="button" class="btn btn-primary" id="deployContract" style="margin-top: 2em;">Create and deploy contract</button>
            </div>
            <br>
            <p id="status"></p>
        </div>
        <div class="col-12" style="margin-top: 2em; border-color: black; border-width: 2px; border-style: solid" id="add_data">
            <h3>Data input form</h3>
            <p id="prompt">Create and deploy a contract to add data.</p>
        </div>

        <div class="col-12" style="margin-top: 2em; border-color: black; border-width: 2px; border-style: solid" id ="groupBys">
            <h3>Data get form</h3>
            <p id="prompt">Create and deploy a contract to add data.</p>
            <br>
        </div>
        <br>
        <br>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
<script>
    let crnContractDeployed;
    $( "#deployContract" ).click(function() {
        deployContract()
    });

    $(document).on('click', '#buttonGet', function(){
        getFactById($("#factId").val());
    });

    $(document).on('click', '#buttonGetAll', function(){
        getAllFacts();
    });

    $(document).on('click', '#buttonGroupBy', function(){
        var selectedKey = $('#fieldSelect').find("option:selected").text();
        groupBy(selectedKey);
    });

    $(document).on('click', '#buttonGetGroupById', function(){
        getGroupById($("#groupByID").val());
    });

    $(document).on('click', '#buttonAdd', function(){
        let fields = [];
        let values = [];
        for(var i = 0; i < crnContractDeployed.properties.length; i++){
            let crnKey = crnContractDeployed.properties[i];
            fields.push(crnKey);
            values.push({key:crnKey.key, value: $("#" + crnKey.key).val()});
        }
        console.log(values);
        addFact(values);
    });

    function pageLoad() {
        $("#getResponseAdd").val("");
        $("#getResponse").val("");
    }

    function getFactById(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                $("#getResponse").val(this.responseText);
            }
        };
        xhttp.open("GET", "/getFactById/" + id, true);
        xhttp.send();
    }

    function groupBy(field) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                $("#getResponse").val(this.responseText);
            }
        };
        xhttp.open("GET", "/groupby/" + field, true);
        xhttp.send();
    }

    function getGroupById(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                $("#getResponse").val(this.responseText);
            }
        };
        xhttp.open("GET", "/groupbyId/" + id, true);
        xhttp.send();
    }

    function getAllFacts() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                $("#getResponse").val(this.responseText);
            }
        };
        xhttp.open("GET", "/getallfacts/", true);
        xhttp.send();
    }

    function addFact(values) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/addFact", true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                $("#getResponseAdd").val(this.responseText);
            }
        };
        xhttp.send(JSON.stringify({values: values}));
    }

    function deployContract() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if(this.readyState <= 3){
                $('#status').html("Creating contract...");
            }
            if (this.readyState === 4 && this.status === 200) {
                var respObj = JSON.parse( this.responseText)

                var xhttpDep =  new XMLHttpRequest();
                xhttpDep.onreadystatechange = function() {
                    if (this.readyState <= 3) {
                        $('#status').html("Deploying contract...");
                    }
                    if (this.readyState === 4 && this.status === 200) {
                        var respObject = JSON.parse( this.responseText)

                        $('#status').html("Contract address: " + respObject.options.address);
                        $('#status').css({"color": 'green'});
                        $("#prompt").remove();
                        crnContractDeployed = respObj.template;
                        for(var i = 0; i < respObj.template.properties.length; i++){
                            var crnProp = respObj.template.properties[i];
                            $('#add_data').append("<div class='row' style='margin-top:1em'>" +
                                "<label for='" + crnProp.key + "' class='col-lg-2" +" " + "control-label'"+ ">" + crnProp.key + "</label>" +
                                "<input id='" + crnProp.key +  "' type='text'>" + "</div>" + "<br>");
                        }
                        $('#add_data').append("<button type=\"button\" class=\"btn btn-primary\" id=\"buttonAdd\">Add fact</button>" +
                            "<br> <br> <div>" +
                            "<label for=\"getResponseAdd\" class=\"col-lg-2 control-label\">Transaction receipt</label>" +
                            "<textarea class=\"form-control\" rows=\"5\" id=\"getResponseAdd\" readonly></textarea>" +
                            "</div>" +
                            "<br>" +
                            "<br>");

                        $('#groupBys').append("<div class='row' id='groupByRow'><div class='col-3'> <label for='fieldSelect'>Select field for GroupBy:</label></div>"+
                        "<div class='col-3'><select class='form-control' id='fieldSelect'>");
                        for(var i = 0; i < respObj.template.properties.length; i++) {
                            var crnProp = respObj.template.properties[i];
                            $('#fieldSelect').append("<option>" + crnProp.key + "</option>");
                        }
                        $('#groupByRow').append("<div class='col-3' style='text-align:center'><button type=\"button\" class=\"btn btn-primary\" id=\"buttonGroupBy\" style='width: 65%'>Group By</button></div>")
                        $('#groupBys').append("</div></div>");
                        $('#groupBys').append("<div class=\"row\" style=\"margin-top: 1em\" id='getFactRow'>" +
                            "<label for=\"factId\" class=\"col-lg-3 control-label\">Fact ID</label>" +
                            "<div class='col-3'><input id=\"factId\" type=\"text\"></div> " + "<div class='col-3' style='text-align: center'><button type=\"button\" class=\"btn btn-primary\" id=\"buttonGet\" style='width: 65%'>Get fact</button>"+
                            "</div>" + "<div class='col-3' style='text-align: left'><button type=\"button\" class=\"btn btn-primary\" id=\"buttonGetAll\" style='width: 65%'>Get all</button></div></div>" +
                            "<div class=\"row\" style=\"margin-top: 1em\" id='groupByRow'>" +
                            "<label for=\"groupByID\" class=\"col-lg-3 control-label\">GroupBy ID</label>" +
                            "<div class='col-3'><input id=\"groupByID\" type=\"text\"></div>" +
                            "<div class='col-3' style='text-align: center'><button type=\"button\" class=\"btn btn-primary\" id=\"buttonGetGroupById\" style='width: 65%'>Get GroupBy by ID</button></div>" +
                            "</div><br>");
                        $('#groupBys').append("<div>" +
                            "<br>" +
                            "<label for=\"getResponse\" class=\"col-lg-2 control-label\">Output</label>" +
                            "<textarea class=\"form-control\" rows=\"5\" id=\"getResponse\" readonly></textarea>" +
                            "<br>" +
                            "</div><br><br>")
                    }
                    else if(this.status === 400) {
                        $('#status').html("Error while deploying contract");
                        $('#status').css({"color": 'red'});
                    }
                };
                xhttpDep.open("GET", "/deployContract/" + respObj.filename, true);
                xhttpDep.send();
            } else if(this.status === 400) {
                $('#status').html("Error while creating contract");
                $('#status').css({"color": 'red'});
            }
        };
        var selectedText = $('#template').find("option:selected").text();
        xhttp.open("GET", "/new_contract/" + selectedText, true);
        xhttp.send();
    }
</script>
</body>